### ======================================================
### üìä WEATHER DATA VISUALIZATION & ANALYSIS
### ======================================================
### Dataset: Rainfall_Data_Germany_Complete.csv
### Tasks:
### 1Ô∏è‚É£ Visualize Temperature vs Time
### 2Ô∏è‚É£ Visualize Monthly Average Rainfall Trend (Rolling Average)
### 3Ô∏è‚É£ Add Error Bars for Temperature Uncertainty
### 4Ô∏è‚É£ Print Observations (Hottest, Coldest, Rainfall Trends)
### ======================================================

### Importing Libraries

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

### Load Dataset

In [6]:
plt.style.use('seaborn-v0_8-whitegrid')

df = pd.read_csv('climate-data.csv')

### Check dataset information

In [7]:
df.head()

,City,Latitude,Longitude,Month,Year,Rainfall (mm),Elevation (m),Climate_Type,Temperature (¬∞C),Humidity (%)
0,Berlin,52.52,13.405,1,2015,71.56,34,Oceanic,19.6,72
1,Berlin,52.52,13.405,2,2015,129.56,34,Oceanic,31.4,88
2,Berlin,52.52,13.405,3,2015,24.58,34,Oceanic,15.4,61
3,Berlin,52.52,13.405,4,2015,177.73,34,Oceanic,15.1,62
4,Berlin,52.52,13.405,5,2015,100.62,34,Oceanic,-3.0,57

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   City              1080 non-null   object
 1   Latitude          1080 non-null   float64
 2   Longitude         1080 non-null   float64
 3   Month             1080 non-null   int64
 4   Year              1080 non-null   int64
 5   Rainfall (mm)     1080 non-null   float64
 6   Elevation (m)     1080 non-null   int64
 7   Climate_Type      1080 non-null   object
 8   Temperature (¬∞C)  1080 non-null   float64
 9   Humidity (%)      1080 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 84.5+ KB

### Filtering Data for One City

In [11]:
city_name = "Berlin"
city_df = df[df["City"] == city_name].copy()

# Create a proper datetime column for time series
city_df["Date"] = pd.to_datetime(city_df["Year"].astype(str) + "-" + city_df["Month"].astype(str) + "-01")

# Sort by date just in case
city_df = city_df.sort_values("Date")

# Preview
display(city_df)

,City,Latitude,Longitude,Month,Year,Rainfall (mm),Elevation (m),Climate_Type,Temperature (¬∞C),Humidity (%),Date
0,Berlin,52.52,13.405,1,2015,71.56,34,Oceanic,19.6,72,2015-01-01
1,Berlin,52.52,13.405,2,2015,129.56,34,Oceanic,31.4,88,2015-02-01
2,Berlin,52.52,13.405,3,2015,24.58,34,Oceanic,15.4,61,2015-03-01
3,Berlin,52.52,13.405,4,2015,177.73,34,Oceanic,15.1,62,2015-04-01
4,Berlin,52.52,13.405,5,2015,100.62,34,Oceanic,-3.0,57,2015-05-01
...,...,...,...,...,...,...,...,...,...,...,...
103,Berlin,52.52,13.405,8,2023,167.10,34,Oceanic,24.4,31,2023-08-01
104,Berlin,52.52,13.405,9,2023,2.94,34,Oceanic,16.3,39,2023-09-01
105,Berlin,52.52,13.405,10,2023,75.82,34,Oceanic,6.5,79,2023-10-01
106,Berlin,52.52,13.405,11,2023,67.47,34,Oceanic,14.7,41,2023-11-01
107,Berlin,52.52,13.405,12,2023,3.87,34,Oceanic,7.0,99,2023-12-01

### Visualizing Time Series: Temperature vs Time

### Visualizing Trends: Monthly Rainfall with Rolling Average

### Visualizing Uncertainty: Temperature with Error Bars

### Observations and Insights